body  {
    background-color: lemonchiffon;
  }
  
 .title {
  color: darkblue
  }
  
  #paragraph-2 {
    color: darkslateblue;
    background-color: darkorange;
  }
  
  #paragraph-3 {
      color: white;
      background-color: darkslateblue;
  }
  