.lesson {
    width: 200px;
    height: 100px;
  }
  
.section-purple{
   background-color: purple;
    color:   yellow;
}
.section-blue{
    background-color: blue;
    color: orange;
}
  
.container {
background-color: black;
text: white;

}

#section-1 {
background-color: black;
color: white;

}

#section-6 {
    background-color: black;
    color: yellow;

}
